/**
 * @file
 * Styling for View Mode Tooltips
 */
.view-mode-tooltip .tooltip{
  display:none;
  position:absolute;
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 3px #111111;
  background: #111111;
  width:250px;
}

.tooltip-arrow {
  background: black;
  background-clip: padding-box;
  
}

.tooltip-content {
  padding:10px;
}

.tooltip-arrow-wrap {
  width: 70px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -50px;
}

.tooltip-arrow {
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
